/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'source-sans-pro', sans-serif;
}

.container{
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.137),rgba(0, 0, 0, 0.384)), url(images/headphones_hero_1.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    box-sizing: border-box;
}
.navbar{
    height: 3%;
    display: flex;
    align-items: centre;
}
.logo{
    margin-top: 20px;
    width: 30px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font: 10px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: #af3d3d;
}

.content{
    margin-top: 40%;
    color: #fff;
    max-width: 100%;
    text-align: center;
}

.content h1{
    font-size: 45px;
}

.content p{
    font-size: 25px;
    margin-top: 15px;
    display: center;
}

.content button{
    color: #fff;
    font-size: 25px;
}
.content button{
    margin-top: 40px;
    display: center;
    align-items: center;
    background: #af3d3d;
    border-radius: 40px;
    padding: 15px 40px;
    margin-top: 80px;
    box-shadow: #000;
    box-shadow: 0ch;
}

.content ul{
    margin-top: 100px;
    font-size: medium;
    display: center;
    line-height: 1.8;
}

.section-center {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.section-center h2{
    text-align: center;
    margin-top: 100px;
}
.section-center p {
    text-align: center;
    margin-top: 50px;
    line-height: 1.8;
    font-size: medium;
}